*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

h1,
h2 {
  --main-color: #001845;
  font-weight: 600;
}

.brand {
  color: #d7f6f7;
  text-shadow: #0353a4;
}
/*NAVBARS*/

#navbar {
  background-color: #001845 !important;
  --bs-navbar-color: #d7f6f7 !important;
  --bs-navbar-disabled-color: var(--bs-navbar-color);
  --bs-navbar-brand-color: var(--bs-navbar-color);
  --bs-navbar-active-color: var(--bs-navbar-color);
  --bs-emphasis-color: #d7f6f7;
  --bs-navbar-toggler-border-color: #d7f6f796;
  box-shadow: 3px 3px 4px 2px #0a0908;
  color: #f2cc8f !important;
  max-width: 100%;
}
.navbar-toggler-icon {
  background-image: url("../assets/menu.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

.nav-link {
  --bs-navbar-active-color: #d7f6f7;
  text-decoration: underline 0.15em #f2cc8f00;
  transition: text-decoration-color 500ms;
}
.nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #f2cc8f;
  text-decoration-color: #f2cc8f;
}

/*HOME PAGE - HERO*/
.title {
  color: var(--main-color);
}

.text-paragraph {
  font-size: 1.2rem;
}

#hero-text {
  background-color: #9ca9b3b8;
  border-radius: 0.357rem;
  width: 80%;
  padding: 1.5rem 2rem;
  width: 50%;
  color: #f3f3f6;
}
#hero-content,
#hero-menu {
  margin: 0 auto;
  width: 60%;
  padding: 3rem 3.5rem;
  background-position: center center;
  background-size: cover;
}
#tabela {
  margin: 0 auto;
  width: 80%;
  padding: 3rem 3.5rem;
  background-position: center center;
  background-size: cover;
}
#hero-content {
  background-image: url(../assets/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);
}
#container {
  flex-grow: 1;
  padding: 1rem 2rem;
  margin: 0;
  background-color: #f8f7ff;
}
/*HOMEPAGE - CARDS*/
.card {
  min-width: 250px;
  min-height: 353px;
}
.card-title {
  margin-bottom: 0px;
  text-align: justify;
}
.details {
  font-style: italic;
  color: #495057;
}
.autor {
  margin-bottom: 4px;
  font-size: 0.75rem;
  color: #6c757d;
}
.price {
  font-size: 1.5rem;
  font-weight: bolder;
}

/*HOMEPAGE - SIDEBAR*/
ul {
  list-style: none;
}
.list-group {
  --bs-list-group-color: #0a0908 !important;
}
.list-group-item:hover {
  background-color: rgba(187, 187, 187, 0.918);
  transition-duration: 0.4s;
}
.list-group > li:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.list-group > li:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/*MENU - HERO*/
#main-menu {
  background-color: #0353a4;
}

#hero-menu {
  background-color: #f8f7ff;
}

#main-login {
  padding: auto;
}

/*LOGIN*/

.form-signin {
  max-width: 500px;
  padding: 1rem;
}

input {
  line-height: 1.75rem;
}

/*PÁGINAS MAIS DETALHES*/
#hero-curso {
  gap: 20px;
  --bs-gutter-x: 0;
  padding: 4rem 4rem;
  background-image: linear-gradient(135deg, #f4f4f4, #94b9ff);
}
.button {
  --bs-btn-color: #e36414;
  -bs-btn-color: var(--bs-btn-color);
  --bs-btn-border-color: var(--bs-btn-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-btn-color);
  --bs-btn-hover-border-color: var(--bs-btn-color);
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-btn-color);
  --bs-btn-active-border-color: var(--bs-btn-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-btn-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-btn-color);
  --bs-gradient: none;
  font-weight: bolder;
}

.title-curso {
  color: #33415c;
}

.image {
  width: 100%;
  max-width: 500px;
  box-shadow: 3px 3px 3px 1px black;
  border-radius: 4px;
}

#curso-text {
  margin: 0 auto;
  text-align: justify;
  color: #3d405b;
}
#info {
  color: #001845;
  max-width: 100%;
  max-height: 700px;
  padding: 3rem 4rem;
}
#container-card {
  display: flex;
  gap: 2rem;
}

.card-info {
  padding: 2rem 1rem;
  border-radius: 1rem;
  min-width: 200px;
  width: 40%;
  background-color: #f2cc8f;
  box-shadow: 3px 3px 8px 1px #495057;
}
.card-info:nth-child(even) {
  background-color: rgb(248, 235, 214);
}
/*VALOR DO CURSO*/
hr {
  display: block;
  border-color: #495057;
  width: 100%;
  margin: 0.5rem 0;
}
.card {
  min-height: 0px !important;
  min-width: 250px !important;
}
#card-shop {
  padding: 1.5rem;
  max-width: 300px;
  max-height: fit-content;
  border: 2px solid #888a8ca8;
}

#quantidade {
  width: 2.85rem;
  padding: 0 0 0 0.75rem;
}

#total {
  display: none;
  font-weight: bolder;
  color: #d00000;
  font-size: 1.5rem;
}

.btn-table {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background: none;
}

/*MEDIAS*/
@media (max-width: 576px) {
  #hero-text {
    width: 100%;
  }
  #sidebar,
  #search {
    display: none;
  }
  .row {
    gap: 1.5rem !important;
  }
  #hero-curso {
    flex-direction: column;
  }
  #container-card {
    max-width: fit-content;
    flex-direction: column;
  }
  .card-info {
    margin-top: 0;
    width: 70%;
  }
}
@media screen and (min-width: 578px) and (max-width: 809px) {
  .card-info:nth-child(even) {
    margin-top: 2rem;
  }
}
@media (min-width: 1200px) {
  #hero-curso {
    padding: 0 0 8rem 0;
    background-color: #004aad;
    background-position: 0% -30px;
    background-repeat: no-repeat;
    background-image: url(../assets/bg-details.png);
  }
  #curso-text {
    text-align: justify;
    width: 70%;
    max-width: 400px;
    margin: 140px 0px 0px 140px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    width: 30%;
    max-width: 100%;
  }
  .image {
    margin: 5rem 0;
  }
}
